In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
import pyarrow.parquet as pq
import pyarrow as pa

import numpy as np
import pandas as pd
from IPython.display import clear_output

In [2]:
df = pd.read_csv('data/NYTickets/2023.csv', low_memory=False)

:

In [3]:
import pandas as pd
import pyarrow.parquet as pq

# Path to your Parquet file
parquet_file_path = 'data/Parking_Violations_Issued_-_Fiscal_Year_2024_20240524.parquet'

# Step 1: Determine the total number of rows
parquet_file = pq.ParquetFile(parquet_file_path)
total_rows = parquet_file.metadata.num_rows

# Step 2: Calculate the number of rows to read (1% of the total rows)
rows_to_read = max(1, total_rows // 100)

# Step 3: Read the first 'rows_to_read' rows
df = pd.read_parquet(parquet_file_path, engine='pyarrow', columns=None)
df_sample = df.head(rows_to_read)

print(f"Total rows in the file: {total_rows}")
print(f"Reading {rows_to_read} rows (1% of the total rows)")

print(df_sample.head())

Total rows in the file: 13330575
Reading 133305 rows (1% of the total rows)
  Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Time First Observed,Violation County,Violation In Front Of Or Opposite,House Number,Street Name,Intersecting Street,Date First Observed,Law Section,Sub Division,Violation Legal Code,Days Parking In Effect    ,From Hours In Effect,To Hours In Effect,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0  1159637337,KZH2758,NY,PAS,06/09/2023,67,VAN,HO...
1  1252960645,JPD8746,NY,PAS,06/30/2023,87,SUBN,L...
2  1252960669,JPD8746,NY,PAS,06/30/2023,31,SUBN,L...
3  1252994126,MBH9245,99,PAS,07/06/2023,20,SDN,KI...
4  1252994175,MBH9245,PA,PAS,07/08/2023,40,SDN,KI...

In [3]:
pd.read_csv('data/NYTickets/2014.csv').to_hdf('data/NYTickets/2014.h5', key='df', mode='w')

:

In [23]:
import dask.dataframe as dd
import glob
import os

# Specify the path to the CSV files
csv_files = glob.glob('data/NYTickets/*.csv')

# Define the data types for each column
dtype = {
    'Summons Number': 'object',
    'Plate ID': 'object',
    'Registration State': 'object',
    'Plate Type': 'object',
    'Issue Date': 'object',
    'Violation Code': 'object',
    'Vehicle Body Type': 'object',
    'Vehicle Make': 'object',
    'Issuing Agency': 'object',
    'Street Code1': 'object',
    'Street Code2': 'object',
    'Street Code3': 'object',
    'Vehicle Expiration Date': 'object',
    'Violation Location': 'object',
    'Violation Precinct': 'object',
    'Issuer Precinct': 'object',
    'Issuer Code': 'object',
    'Issuer Command': 'object',
    'Issuer Squad': 'object',
    'Violation Time': 'object',
    'Time First Observed': 'object',
    'Violation County': 'object',
    'Violation In Front Of Or Opposite': 'object',
    'Number': 'object',
    'Street': 'object',
    'Intersecting Street': 'object',
    'Date First Observed': 'object',
    'Law Section': 'object',
    'Sub Division': 'object',
    'Violation Legal Code': 'object',
    'Days Parking In Effect': 'object',
    'From Hours In Effect': 'object',
    'To Hours In Effect': 'object',
    'Vehicle Color': 'object',
    'Unregistered Vehicle?': 'object',
    'Vehicle Year': 'object',
    'Meter Number': 'object',
    'Feet From Curb': 'object',
    'Violation Post Code': 'object',
    'Violation Description': 'object',
    'No Standing or Stopping Violation': 'object',
    'Hydrant Violation': 'object',
    'Double Parking Violation': 'object',
    'House Number': 'object'
}

for csv_file in csv_files:
    try:
        # Read the CSV file into a Dask DataFrame with specified dtypes
        ddf = dd.read_csv(csv_file, dtype=dtype)

        # Coerce numeric columns
        numeric_columns = ['Summons Number', 'Violation Code', 'Street Code1', 'Street Code2', 'Street Code3', 
                           'Vehicle Expiration Date', 'Violation Precinct', 'Issuer Precinct', 'Issuer Code', 
                           'Number', 'Vehicle Year', 'Feet From Curb']
        for col in numeric_columns:
            if col in ddf.columns:
                ddf[col] = dd.to_numeric(ddf[col], errors='coerce')

        # Define the output HDF5 file path
        hdf5_file = os.path.join('data/NYTickets', os.path.basename(csv_file).replace('.csv', '.h5'))

        # Write the DataFrame to HDF5
        ddf.to_hdf(hdf5_file, key='data', mode='w', format='table')

        print(f'Converted {csv_file} to {hdf5_file}')
    
    except Exception as e:
        print(f'Error processing {csv_file}: {e}')

/home/anjah/miniconda3/envs/bd_project/lib/python3.9/site-packages/dask/dataframe/io/csv.py:195: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
/home/anjah/miniconda3/envs/bd_project/lib/python3.9/site-packages/dask/dataframe/io/csv.py:195: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
/home/anjah/miniconda3/envs/bd_project/lib/python3.9/site-packages/dask/dataframe/io/csv.py:195: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
/home/anjah/miniconda3/envs/bd_project/lib/python3.9/site-packages/dask/dataframe/io/csv.py:195: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)

Error processing data/NYTickets/2016.csv: cannot match existing table structure for [Summons Number,Violation Code,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Precinct,Issuer Precinct,Issuer Code,Vehicle Year,Feet From Curb] on appending data
Converted data/NYTickets/2017.csv to data/NYTickets/2017.h5
Converted data/NYTickets/2019.csv to data/NYTickets/2019.h5
Converted data/NYTickets/2018.csv to data/NYTickets/2018.h5
Converted data/NYTickets/2020.csv to data/NYTickets/2020.h5
Error processing data/NYTickets/2021.csv: Trying to store a string with len [48] in [values_block_1] column but
this column has a limit of [30]!
Consider using min_itemsize to preset the sizes on these columns
Error processing data/NYTickets/2014.csv: cannot match existing table structure for [Number] on appending data
Error processing data/NYTickets/2015.csv: Trying to store a string with len [42] in [values_block_2] column but
this column has a limit of [30]!
Consider using min_itemsize to preset the sizes on these columns

/home/anjah/miniconda3/envs/bd_project/lib/python3.9/site-packages/dask/dataframe/io/csv.py:195: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
/home/anjah/miniconda3/envs/bd_project/lib/python3.9/site-packages/dask/dataframe/io/csv.py:195: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)

Error processing data/NYTickets/2024_april.csv: Trying to store a string with len [71] in [values_block_1] column but
this column has a limit of [65]!
Consider using min_itemsize to preset the sizes on these columns
Error processing data/NYTickets/2023.csv: Trying to store a string with len [71] in [values_block_1] column but
this column has a limit of [65]!
Consider using min_itemsize to preset the sizes on these columns
Converted data/NYTickets/2022.csv to data/NYTickets/2022.h5

In [2]:
#transform all csv files in data/NYTickets to parquet
import dask.dataframe as dd
import glob
import os
from utils import *

In [1]:
import polars as pl

In [23]:
def transform_parquet(file):
    parquet_file = file.split('/')[-1].replace('.csv', '.parquet')
    #parquet_file = 'data.parquet'
    df = pl.scan_csv(file, ignore_errors=True)
    df.sink_parquet(('parquet/' + parquet_file), compression='snappy', row_group_size=100_000)

In [24]:
transform_parquet('data/NYTickets/2022.csv')

In [16]:
df = dd.read_parquet('data.parquet')

In [25]:
len(df)

15435607

In [18]:
df.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1457617912,JEB5683,NY,PAS,06/25/2021,40,VAN,FORD,P,63430,...,GY,0.0,2007,-,3,<NA>,<NA>,<NA>,<NA>,<NA>
1,1457617924,JAN2986,NY,PAS,06/25/2021,20,SUBN,DODGE,P,13490,...,BLU,0.0,2007,-,0,<NA>,<NA>,<NA>,<NA>,<NA>
2,1457622427,FJH6630,TX,PAS,06/17/2021,98,SDN,AUDI,P,79430,...,WHITE,0.0,0,-,0,<NA>,<NA>,<NA>,<NA>,<NA>
3,1457638629,RD1Y5N,MO,PAS,06/16/2021,98,SDN,TOYOT,P,53130,...,TAN,0.0,2001,-,0,<NA>,<NA>,<NA>,<NA>,<NA>
4,1457639580,T503814C,NY,OMT,07/04/2021,40,TAXI,HONDA,P,81030,...,WHI,0.0,2020,-,0,<NA>,<NA>,<NA>,<NA>,<NA>

In [26]:
csv_files = glob.glob('data/NYTickets/*.csv')
for file in csv_files:
    print(f"Transforming {file} to parquet")
    transform_parquet(file)
    print(f"Transformed {file} to parquet")

Transforming data/NYTickets/2016.csv to parquet
Transformed data/NYTickets/2016.csv to parquet
Transforming data/NYTickets/2017.csv to parquet
Transformed data/NYTickets/2017.csv to parquet
Transforming data/NYTickets/2019.csv to parquet
Transformed data/NYTickets/2019.csv to parquet
Transforming data/NYTickets/2018.csv to parquet
Transformed data/NYTickets/2018.csv to parquet
Transforming data/NYTickets/2020.csv to parquet
Transformed data/NYTickets/2020.csv to parquet
Transforming data/NYTickets/2021.csv to parquet
Transformed data/NYTickets/2021.csv to parquet
Transforming data/NYTickets/2014.csv to parquet
Transformed data/NYTickets/2014.csv to parquet
Transforming data/NYTickets/2015.csv to parquet
Transformed data/NYTickets/2015.csv to parquet
Transforming data/NYTickets/2024_april.csv to parquet
Transformed data/NYTickets/2024_april.csv to parquet
Transforming data/NYTickets/2023.csv to parquet
Transformed data/NYTickets/2023.csv to parquet
Transforming data/NYTickets/2022.csv to parquet
Transformed data/NYTickets/2022.csv to parquet

In [3]:
# Define the data types for each column
import dask.dataframe as dd
df_tickets = dd.read_parquet('parquet/2014.parquet')
dtype={'Address Building': 'object',
       'BBL': 'object',
       'BIN': 'object',
       'Contact Phone Number': 'object',
       'Detail': 'object',
       'Location': 'object',
       'NTA': 'object',
       'Secondary Address Street Name': 'object'}

# Load the CSV file with specified data types
df_business = dd.read_csv('data/Legally_Operating_Businesses_20240526.csv', dtype=dtype)

# Display the first few rows

In [4]:
#transform all column names to lowercase
df_business.columns = [col.lower() for col in df_business.columns]
#change licence expiration date to datetime from mm/dd/yyyy to yyyy-mm-dd
df_business['license expiration date'] = dd.to_datetime(df_business['license expiration date'], format='%m/%d/%Y', errors='coerce')
#the same for licence creation date
df_business['license creation date'] = dd.to_datetime(df_business['license creation date'], format='%m/%d/%Y', errors='coerce')

In [5]:
df_business.head()

,dca license number,license type,license expiration date,license status,license creation date,industry,business name,business name 2,address building,address street name,...,community board,council district,bin,bbl,nta,census tract,detail,longitude,latitude,location
0,0967332-DCA,Business,2017-02-28,Inactive,2010-02-04,Home Improvement Contractor,"BARBARINO, JOHN JR.",JOHN BARBARINO JR_HOME IMPROVEMENT,239,MEDFORD CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2103411-DCA,Individual,2024-03-31,Active,2022-01-11,Sightseeing Guide,"Nieciak, Joseph",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2060087-DCA,Individual,2024-03-31,Active,2017-10-31,Sightseeing Guide,"Arcaro, Tyler",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2078026-DCA,Individual,2024-03-31,Active,2018-09-11,Sightseeing Guide,"HESSE, DAPHNEE",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2057801-DCA,Individual,2019-02-28,Inactive,2017-09-01,Home Improvement Salesperson,"ESCOBAR, KEVIN",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#get only the columns where expiration date is 2014 or later, and creation date is 2014 or earlier
df_business = df_business[(df_business['license expiration date'] >= '2014-01-01') & (df_business['license creation date'] <= '2014-12-31')]

In [7]:
#only keep columns with location
df_business_loc = df_business[df_business['address street name'].notnull()]

In [9]:
df_tickets.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1361929741,FCJ5493,NY,PAS,12/18/1970,20,SUBN,GMC,S,35030,...,BLACK,0.0,2013.0,-,0.0,<NA>,<NA>,<NA>,<NA>,<NA>
1,1366962000,63540MC,NY,COM,02/02/1971,46,DELV,FRUEH,P,58830,...,BRN,0.0,2013.0,-,0.0,<NA>,<NA>,<NA>,<NA>,<NA>
2,1342296187,GCY4187,NY,SRF,09/18/1971,21,VAN,FORD,S,11790,...,BLUE,0.0,2002.0,-,0.0,<NA>,<NA>,<NA>,<NA>,<NA>
3,1342296199,95V6675,TX,PAS,09/18/1971,21,<NA>,GMC,S,11790,...,SILVR,0.0,2008.0,-,0.0,<NA>,<NA>,<NA>,<NA>,<NA>
4,1342296217,FYM5117,NY,SRF,09/18/1971,21,SUBN,NISSA,S,28190,...,WHITE,0.0,2012.0,-,0.0,<NA>,<NA>,<NA>,<NA>,<NA>

In [4]:
import csv
with open('/home/anjah/Documents/mag/BD/project/BD_project/data/NYTickets/2021.csv', 'r') as f:
            i = 0
            for line in f:
                if i == 0:
                    header = line
                    i += 1
                    break
                reader = csv.reader(f)
                header = next(reader)

header

'Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Issuer Command,Issuer Squad,Violation Time,Time First Observed,Violation County,Violation In Front Of Or Opposite,House Number,Street Name,Intersecting Street,Date First Observed,Law Section,Sub Division,Violation Legal Code,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation\n'